* {
  margin: 0;
  box-sizing: border-box;
  font-size: 3rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #000;
  text-align: center;
  padding: 4rem 24px;
}

h1 {
  color: papayawhip;
}

img {
  width: 100%;
}